@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #313234;
    height: 50px;
    font-weight: 550;
    letter-spacing: 1px;
}

header>nav>ul {
    padding: 0;
    list-style-type: none;
    float: right;
}

nav li {
    display: inline-block;
}

.container--icon {
    text-align: center;
}

.img--logo {
    padding: 10px 0px;
}

header>nav>ul>li>a {
    padding: 0 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

header>nav>ul>li:hover>a {
    color: #1dcaff
}

.hero {
    background-image: url(https://static.pexels.com/photos/96426/pexels-photo-96426.jpeg);
    margin: 0 auto;
    height: 700px;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    position: relative;
    top: -3px;
}

.slogan {
    background-color: black;
    opacity: 0.3;
    float: right;
    display: block;
    margin: 300px 0;
    width: 600px;
    height: 20%;
    color: white;
    text-align: center;
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

.table {
    float: left;
    padding: 10px 0;
}

.h3--efect {
    font-weight: 800;
    font-size: 20px;
}

.contant--works {
    text-align: center;
    height: 200px;
    padding: 10px 0;
}

.blue:hover {
    color: #1dcaff;
    cursor: pointer;
}

.col-6--img {
    float: left;
    margin: 0 auto;
    padding: 0px 140px;
}

.col-6--img img {
    transition: .5s;
}

.col-6--img img:hover {
    opacity: 0.8;
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

.col-12 .team {
    height: 100px;
    width: 100px;
    float: left;
    padding: 30px;
    margin: 2% 0% 2% 11%;
}

.col-12 .team img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

figcaption {
    text-align: center;
    margin-left: 45px;
    font-weight: 600;
}

.section3 {
    margin-top: 10%;
    min-width: 1200px;
}

.col-4 .image img {
    width: 350px;
    height: 300px;
}

.number {
    float: left;
    padding: 60px;
    margin-left: 10%;
}

.row .number p {
    text-align: center;
    font-size: 16px;
    color: #1dcaff;
    text-transform: uppercase;
    position: relative;
    left: -10px;
}

.col-4,
.col-2,
.col-6 {
    float: left;
}

.bottom {
    background-color: #313234;
    color: #E4F1F7;
}

.bottom .col-4 h1 {
    text-transform: uppercase;
}

.bottom .col-4 {
    overflow: auto;
}

.bottom .col-4 i {
    padding: 20px 20px 0 0;
    color: #1dcaff;
}

.bottom .col-4 {
    text-align: center;
}

footer p {
    text-align: center;
    color: #E4F1F7;
}

footer {
    background-color: black;
}

.col-6 h1 {
    text-transform: uppercase;
    position: relative;
    right: 100px;
}

.col-6 p {
    position: relative;
    right: 100px;
}

.col-2 p {
    position: relative;
    right: 130px;
    top: 57px;
}

.team--1 {
    width: 100px;
    height: 100px;
}

.col-1 {
    width: 8.33%;
    float: left;
}

.col-2 {
    width: 16.66%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

.col-4 {
    width: 33.33%;
    float: left;
}

.col-5 {
    width: 41.66%;
    float: left;
}

.col-6 {
    width: 50%;
    float: left;
}

.col-7 {
    width: 58.33%;
    float: left;
}

.col-8 {
    width: 66.66%;
    float: left;
}

.col-9 {
    width: 75%;
    float: left;
}

.col-10 {
    width: 83.33%;
    float: left;
}

.col-12 {
    width: 91.66%;
    float: left;
}

.col-12 {
    width: 100%;
    float: left;
}

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}

.col-offset-12 {
    margin-left: 100%;
}